html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="/styles/style.css")
        link(rel='apple-touch-icon', href='https://i.ibb.co/L9ssR18/Group-1046.png')
        title Cooking
    body 
        include ../partials/header
        main.main_wrap
            block content
        include ../partials/footer  
    script(src="/js/main.js")