.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 999;
}

.header_contents {
  padding: 20px;
  background-color: #3c9e93;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.header_dday {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header_day {
  color: white;
  margin-bottom: 4px;
}

.header_day_title {
  font-size: 12px;
  color: rgb(215, 215, 215);
  font-weight: 300;
}
